@import './Hot.scss';

#coming {
	#m-list {
		.mr {
			border-bottom: 0px;
		}
	}
	.open-date {
		color: #50505a;
	    font-size: .26rem;
	    height: .64rem;
	    line-height: .64rem;
	    padding-left: .30rem;
	    text-align: left;
	    background-color: #f5f5f5;
	}
	.count {
		color: #fea54c;
		font-size: .28rem;
		margin-top: .16rem;
	}
	.click-load-more {
		height: .84rem;
		line-height: .84rem;
		margin: .15rem 0;
		background-color: #fff;
		color: #333;
		font-size: .30rem;
		text-align: center;
		span {
			vertical-align: middle;
		}
		p {
			color: #666;
		}
	}
	.loading-action {
		display: inline-block;
		width: .26rem;
		height: .26rem;
		border: 3px solid #999;
   		border-bottom-color: transparent;
		border-radius: 50%;
		-webkit-animation: rotate 0.75s linear infinite;
		animation: rotate 0.75s linear infinite;
	}
	a {
		color: #9c9c9c;
	}

}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
