#MD {
	.md-intro {
		background-color: #fff;
		color: #555;	
		padding: .35rem .30rem;
		font-size: .30rem;
		line-height: .50rem;
		bottom: 1px solid #d9d9d9;
	}
	.hide-something {
	    display: -webkit-box;
	    -webkit-box-orient: vertical;
	    -webkit-line-clamp: 3;
	    overflow: hidden;
	}
	.is-expand {
		font-size: .34rem;
		margin: .25rem 0;
	}
	.md-nodata {
		font-size: .34rem;
		margin-top: .90rem;
		color: #666;
	}
}











